:root {
  // --main-color:
  --main: #9b2602;
  --btn: #883d35;
  --hover: #b55147;
  --white: #ffffff;
  --black: #1e1e1e;
  --grey: #636669;
  --white-clear: #ffffff1a;
  --lite-grey: #e0e0e0;
  --yellow: #f9f47e;
  --box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

  --full: 100%;

  --wrapper-max-width: 2620px;
  --wrapper-min-width: 240px;
}
