.navSide {
  // @include themify($themes) {
  height: 100%;
  display: flex;
  position: fixed;
  // position: relative;
  transition: left 0.4s ease-in-out;
  // background: var(--dashBlue);
  // background: #004ef0;
  // background: themed("dashSideDrawer");
  background: var(--white);
  // background: themed("bg");
  display: initial;
  justify-content: stretch;
  align-items: stretch;
  margin-left: 0;
  overflow-y: auto;
  padding: 40px 1px 40px 16px;
  width: 300px;
  border-right: #dbdef2 solid 1px;
  // box-shadow: 0px 5px 15px #dbdef2;

  // &.show {
  //   left: 0;
  // }

  // &.hidden {
  //   overflow: hidden;
  // }

  @media (max-width: 1264px) {
    position: fixed;
    top: 70px;
    // left: -100vw;
    z-index: 250;
    transition: left 0.4s ease-in-out;
    // background: var(--dashBlue);
    // background: #004ef0;
    // background: themed("dashSideDrawer");
    background: var(--white);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 300px;
    // top: 0;
    // left: 0;
    // bottom: 0;
    //     position: fixed;
    left: -107%;
    // top: -15px;

    &.show {
      left: 0;
    }

    &.hidden {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 40px 16px 120px;
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }
  .logo {
    margin-bottom: 40px;
    @media (max-width: 1264px) {
      display: none;
    }
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: var(--full);
    height: auto;
    // color: themed("textColor");

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      width: var(--full);
      height: auto;
    }

    > li {
      margin-bottom: 15px;
      width: var(--full);
      margin-right: 0px;

      @media (max-width: 1264px) {
        margin-bottom: 15px;
        width: var(--full);
        margin-right: 0px;
      }

      > a {
        font-size: 16px;
        color: var(--white) !important;
        font-weight: bold;

        @media (max-width: 1264px) {
          // color: var(--black) !important;
          font-size: 16px;
          font-weight: bold;
        }

        &.darkText {
          // color: var(--new-blue);
          // color: themed("textColor");
        }
      }
    }

    .dashLink {
      display: flex;
      align-items: center;
      padding: 15px 10px;
      color: var(--white) // color: themed("textColor");
        span {
        margin-left: 10px;
      }
    }
    .active {
      background-color: rgba(255, 255, 255, 0.3);
      color: themed("textColor");
      border-right: solid #fff 5px;
      border-radius: 5px;
    }
  }

  .attention {
    background: #fdda61;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-top: 20px;
    p {
      margin-top: 10px;
    }
  }

  .navLogout {
    display: flex;
    align-items: center;
    bottom: 0px;
    padding: 5px 10px;

    button {
      background: none;
      color: var(--white);
      margin-left: 10px;
    }
  }
  // }
}
