.navSide {
  height: 100%;
  display: flex;
  position: fixed;
  transition: left 0.4s ease-in-out;
  background: var(--white);
  display: initial;
  justify-content: stretch;
  align-items: stretch;
  margin-left: 0;
  overflow-y: auto;
  padding: 40px 16px 40px 16px;
  width: 300px;
  border-right: #dbdef2 solid 1px;

  @media (max-width: 1264px) {
    position: fixed;
    top: 70px;
    z-index: 250;
    transition: left 0.4s ease-in-out;
    background: var(--white);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 300px;
    left: -107%;

    &.show {
      left: 0;
    }

    &.hidden {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 40px 16px 120px;
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }
  .logo {
    margin-bottom: 40px;
    @media (max-width: 1264px) {
      display: none;
    }
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    width: var(--full);

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      width: var(--full);
      height: auto;
    }

    > li {
      margin-bottom: 15px;
      width: var(--full);
      margin-right: 0px;
      background-color: (var(--white));
      border: var(--main) 2px solid;

      border-radius: 4px;

      @media (max-width: 1264px) {
        margin-bottom: 15px;
        width: var(--full);
        margin-right: 0px;
      }

      > a {
        font-size: 16px;
        color: var(--main) !important;
        font-weight: bold;
        text-transform: capitalize;
        width: 100%;

        @media (max-width: 1264px) {
          // color: var(--black) !important;
          font-size: 16px;
          font-weight: bold;
        }

        &.darkText {
          // color: var(--new-blue);
          // color: themed("textColor");
        }
      }
    }

    .navlink {
      display: flex;
      align-items: center;
      padding: 15px 24px;
      color: var(--white);
      span {
        margin-left: 10px;
      }

      .dashLink {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        color: var(--main);
        span {
          margin-left: 10px;
          color: var(--main);
        }
      }
    }

    .active {
      background-color: var(--main);
      color: var(--white) !important;
    }
  }

  .navLogout {
    display: flex;
    align-items: center;
    bottom: 0px;
    padding: 5px 10px;

    button {
      background: none;
      color: var(--main);
      margin-left: 10px;
    }
  }
  // }
}
