.dash_headerr {
  width: calc(100% - 300px);
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: var(--white);
  top: 0px;
  left: 0;
  z-index: 9;
  border-bottom: #dbdef2 solid 1px;

  &.bgDark {
    background: #0202c6;
  }

  @media (min-width: 1271px) {
    left: 300px;
    z-index: 2;
  }

  @media (max-width: 1271px) {
    width: var(--full);
    top: 70px;
    box-shadow: none;
  }

  @media screen and (max-width: 1270px) {
    // top: 60px;
  }

  @media (max-width: 903px) {
    top: 70px;
  }
  @media (max-width: 659px) {
    top: 72px;
    position: relative;
    z-index: 9;
    background-color: rgb(177, 172, 172);
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      // width: 90%;
      width: 95%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1264px) {
      justify-content: space-between;
    }
  }

  &__notif {
    > span {
      font-size: 24px;
      line-height: 29px;
      font-weight: bold;
      color: var(--black);

      @media (max-width: 659px) {
        font-size: 14px;
        line-height: 19px;
      }

      @media (max-width: 319px) {
      }
    }
  }

  &__actions {
    @media (max-width: 659px) {
    }

    @media (max-width: 319px) {
    }

    .profile_img {
      width: 40px;
      height: 40px;
      margin-left: 32px;

      @media (max-width: 659px) {
        margin-left: auto;
      }

      @media (max-width: 319px) {
        margin-left: 0;
        margin-bottom: 16px;
      }

      img {
        display: block;
        object-fit: cover;
        border-radius: 100vh;
        width: var(--full);
        height: var(--full);
      }
    }

    .dropdown_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--full);
      margin-left: 10px;

      font-size: 20px;
      line-height: 29px;
      font-weight: bold;
      text-transform: capitalize;

      a {
        color: var(--dashBlue) !important;
        // color: themed("textColor") !important;
      }
      @media (max-width: 319px) {
        margin-left: 0;
      }

      button {
        padding: 0;
        background: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: auto;

        > span {
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--text-secondary);
          white-space: nowrap;
        }

        > svg {
          width: 8px;
          height: 8px;
          margin-left: 7px;

          path {
            fill: var(--text-primary);
          }
        }
      }
    }
  }

  .hamburgerBtn {
    display: none;

    @media (max-width: 1264px) {
      display: block;
    }
  }
  @media (max-width: 1200px) {
    height: 0px;
  }
}
